<p>
  <%= list.name %>
  <%= link_to 'New Task', new_list_task_path(list_id: list.id) %>
  <%= link_to 'Edit', edit_list_path(list) %>
  <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<p>
  <%= render list.tasks.order_tasks %>
</p>







