<div class="div-list">
  <div class="header"><%= list.name %></div>
  <div class="block">
    <%= button_to '+', new_list_task_path(list_id: list.id), method: :get %>
    <%= button_to '->', edit_list_path(list), method: :get %>
    <%= button_to 'X', list, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <div>
    <%= render list.tasks.order_tasks %>
  </div>
</div>







